* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #1c1c1c;
    color: aliceblue;
}

.bg-temp {
    position: fixed;
    width: 100vw;
    height: 100vh;
    inset: 0;
    z-index: -1;
    background-image: url('../../assets/img/bg-default.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: bg 20s ease-in-out infinite;
}

@keyframes bg {

    0%,
    100% {
        scale: 1;
    }

    50% {
        scale: 1.9;
    }

}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .card {
    width:480px;
    height: 200px;
    background-color: rgba(0, 53, 102, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: 500ms;
    animation: card 3s ease-in-out;
}

.container .card:hover {
    background-color: rgba(0, 53, 102);
}

@keyframes card {
    0% {
        scale: 0;
    }

}
.logo img {
    margin: 10px;
    width: 100px;
    animation: logo 3s ease-in-out;
}

@keyframes logo {
    0% {
        transform: translateY(100px) scale(1.5);
    }
    50%{
        transform: translateY(-30px);
    }

}

.card .card-title {
    font-size: 35px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}

form {
    width: 100%;
}

form input {
    height: 50px;
    width: 60%;
    padding: 10px 15px;
    border-radius: 25px 0 0 25px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 500ms;
    text-align: center;
    color: #1c1c1c;
    font-weight: 500;
}

form input:where(:hover, :focus) {
    transition: 500ms;
    background-color: rgba(0, 8, 20, 1);
    color: aliceblue;
    outline: none;
}

input::placeholder {
    color: aliceblue;
    font-size: 16px;
}

input:focus::placeholder {
    color: transparent;
}
form button {
    border: none;
    outline: none;
    border-radius: 0 25px 25px 0;
    height: 50px;
    width: 50px;
    padding: 10px;
    cursor: pointer;
    background-color: rgba(0, 8, 20, 0.3);
    transition: 500ms;

}

form button:hover {
    background-color: rgba(255, 195, 0, 0.8);
}

form button i {
    font-size: 20px;
    color: aliceblue;
}

.error {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-weight: 300;
    margin-top: 5px;
    border-radius: 15px;
    padding: 5px 8px;
    background-color: #8B0000;
}

.error i {
    font-size: 18px;
    margin-right: 5px;
}

.card-city {
    display: none;
}

.card-city .line {
    width: 100%;
    height: 2px;
    background-color: aliceblue;
    border-radius: 50%;
}

.card-city .local h2 {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 5px;
}

.card-city .more p {
    margin: 10px;
}

.local h2 .city-name {
    margin: 0 5px;
}

.local h2 i {
    font-size: 30px;
    animation: location 5s ease-in-out infinite;
}

@keyframes location {

    0%,
    100% {
        color: aliceblue;
    }

    50% {
        color: #B22222;
    }

}

.local h2 .country {
    margin: 0 5px;
    width: 30px;
    object-fit: cover;
}

.card-city .local-temp p {
    font-size: 45px;
    margin: 5px 0;
    font-weight: 700;
}

.card-city .description p {
    text-transform: capitalize;
}

.more .humidity-text i {
    animation: humidity 5s ease-in-out infinite;
}

@keyframes humidity {

    0%,
    100% {
        color: aliceblue;
    }

    50% {
        color: #1E90FF;
    }

}

.more .wind-text i {
    animation: wind 5s ease-in-out infinite;
}

@keyframes wind {

    0%,
    100% {
        color: aliceblue;
    }

    50% {
        color: #87CEEB;
    }

}
.preload {
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: #87CEEB;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: 500ms;
    /* animation: preload 5s ease-in-out; */
}
.preload .circle-load{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid transparent;
    animation: circle 2s ease-in-out infinite;
}
@keyframes circle {
    0%{
        border-left: 3px solid #ffb703;
    }
    50%{
        border-top: 3px solid #ffb703;
    }
    75%{
        border-right: 3px solid #ffb703;
    }
    100%{
        border-bottom: 3px solid #ffb703;
    }
    
}
@keyframes preload {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}
.preload img {
    width: 50px;
    animation: preload-img 5s ease-in-out infinite;
}
@keyframes preload-img {
    0%, 100%{
        scale: 1;
        opacity: 0;
    }
    50%{
        scale: 2;
        opacity: 1;
    }
    
}
.loading {
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 8, 20, 1);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.loading img {
    width: 50px;
}

footer {
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0;
    text-align: center;
    animation: footer 3s ease-in-out;
}

@keyframes footer {
    0% {
        transform: translateY(100px);
    }

}

footer p {
    font-size: 11px;
    color: rgb(0, 8, 20);
}

footer p a {
    font-weight: 600;
}

footer a {
    color: rgb(0, 8, 20);
    text-decoration: none;
    transition: 500ms;
}

footer a:hover {
    color: rgba(0, 53, 102, 0.7);
}

footer .social a {
    font-size: 18px;
}

@media (max-width:600px) {

    .container .card {
        width: 100%;
        height: 100%;
        border-radius: 0;
        justify-content: center;
    }

    .card-city {
        height: 85%;
    }

    .container .card {
        background-color: transparent;
        animation: cardMobile 2s ease-in-out;
    }

    @keyframes cardMobile {
        0% {
            opacity: 0;
        }

    }

    .container .card:hover {
        background-color: transparent;
    }

    .card-city .local h2 {
        font-size: 25px;
    }

    .card-city .local h2 i {
        font-size: 40px;
    }

    .local h2 .country {
        width: 40px;
    }

    .card-city .local-temp p {
        font-size: 60px;
    }

    .card .card-title {
        margin-top: 20px;
        font-size: 30px;
    }

    input::placeholder {
        font-size: 14px;
    }

    .logo {
        display: none;

    }
}